.obsidian-effects-window {
	max-height: 768px;
}

.obsidian-2-pane-window .window-content {
	padding: 10px 0;
}

.obsidian-2-pane {
	display: grid;
	grid-template-columns: 512px 512px;
	height: 100%;
}

.obsidian-2-pane-sm {
	grid-template-columns: 400px 400px;
}

.obsidian-2-pane > section {
	padding: 0 10px;
}

.obsidian-2-pane > section:first-child {
	border-right: 1px solid var(--mid);
}

.obsidian-2-pane-header > section:first-child {
	border-right: none;
}

.obsidian-effects-tray {
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 0;
	top: 30px;
	left: 560px;
	overflow: auto;
	scrollbar-color: transparent rgba(0, 0, 0, .75);
	scrollbar-width: thin;
}

.obsidian-effects-tray::-webkit-scrollbar {
	height: 6px;
}

.obsidian-effects-tray::-webkit-scrollbar-track {
	box-shadow: none;
}

.obsidian-effects-tray::-webkit-scrollbar-thumb {
	border: none;
	background: rgba(0, 0, 0, .75);
}

.obsidian-effects-tray {
	left: 570px;
	width: 184px;
	height: 738px;
	background: var(--bg);
	border-radius: 3px;
	padding: 10px;
	border: 2px ridge var(--mid);
	box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
}

.obsidian-effects-pill {
	background-color: var(--dark);
	padding-left: 34px;
	background-repeat: no-repeat;
	background-size: 24px;
	background-position: 8px;
	height: 34px;
	overflow: hidden;
	cursor: pointer;
	margin-bottom: 5px;
}

.obsidian-effects-pill {
	width: 160px;
	border-radius: 3px;
}

.obsidian-effects-tab:hover {
	width: 160px;
}

.obsidian-effects-pill.obsidian-effects-pill-rm {
	background-color: var(--negative);
}

.obsidian-effects-pill-text {
	text-transform: uppercase;
	font-family: var(--font-condensed);
	font-size: 12px;
	padding: 10px;
	height: 34px;
	overflow: hidden;
	white-space: nowrap;
}

.obsidian-effect {
	padding: 10px;
	border: 2px ridge var(--mid);
	min-height: 100px;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
	margin-bottom: 10px;
}

.obsidian-effect.obsidian-selected {
	border-color: var(--select);
}

.obsidian-effect fieldset.obsidian-selected {
	border-color: var(--select);
}

.obsidian-effect legend {
	cursor: pointer;
}

.obsidian input[type=text].obsidian-effect-name {
	width: 100%;
	font-family: var(--font);
	color: var(--text-subtle);
	font-size: 16px;
	border: none;
	padding: 0;
	margin: 0 0 10px 0;
}

.obsidian input[type=text].obsidian-effect-name:hover {
	border: 1px solid var(--dark);
	box-shadow: 0 0 8px var(--negative);
}

.obsidian-action-row {
	display: flex;
	justify-content: flex-start;
	font-size: 14px;
	font-family: var(--font-condensed);
	align-items: center;
	padding-bottom: 8px;
	margin-bottom: 8px;
	border-bottom: 1px dotted var(--mid);
}

.obsidian-action-row:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

.obsidian-action-row button {
	margin-right: 10px;
}

.obsidian-item-drop {
	border: 2px dashed var(--mid);
	margin-top: 10px;
	padding: 5px 5px 0 5px;
}

.obsidian-item-drop.obsidian-empty {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.obsidian-item-drop-empty {
	font-family: var(--font-condensed);
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	color: var(--text-secondary);
}

.obsidian-item-drop-pill {
	display: inline-flex;
	background-color: var(--dark);
	border-radius: 5px;
	font-family: var(--font-condensed);
	margin-bottom: 5px;
}

.obsidian-item-drop-pill-body {
	padding: 4px 8px;
	border-right: 1px solid var(--bg);
	cursor: pointer;
}

.obsidian-item-drop-pill-body i {
	margin-right: 4px;
}

.obsidian-item-drop-pill-rm {
	padding: 4px 8px;
	font-family: var(--font);
	cursor: pointer;
}

.obsidian-effect-row {
	display: flex;
	font-size: 13px;
	margin-bottom: 5px;
}

.obsidian-effect-row-name {
	margin-right: 3px;
}

.obsidian-effect-row-content {
	font-weight: normal;
}

.obsidian-effect-row .obsidian-radio {
	width: 18px;
	cursor: pointer;
}

.obsidian-effects-cat summary {
	padding: 10px 20px 10px 10px;
	margin-bottom: 5px;
	width: 160px;
}

#obsidian-duration-bar {
	position: fixed;
	left: 256px;
	bottom: 74px;
	display: flex;
	justify-content: flex-start;
}

.obsidian-duration {
	width: 40px;
	height: 40px;
	position: relative;
	cursor: pointer;
}

.obsidian-duration > img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.obsidian-duration #context-menu {
	width: 50px;
	min-width: unset;
	font-size: 12px;
	color: var(--text-regular);
	background: var(--bg);
	border: none;
	left: -5px;
}

.obsidian-duration #context-menu.expand-down {
	top: unset;
	bottom: calc(100% + 2px);
}

.obsidian-duration #context-menu .context-items {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.obsidian-duration #context-menu .context-item {
	padding: 0 5px;
	line-height: 24px;
	border-right: 1px solid var(--dark);
}

.obsidian-duration #context-menu .context-item:last-child {
	border: none;
}

.obsidian-duration #context-menu .context-item > i {
	margin: 0;
}

.obsidian-duration-remaining {
	position: absolute;
	right: -5px;
	top: -5px;
	width: 16px;
	height: 16px;
	background-color: var(--highlight);
	color: var(--text-regular);
	font-family: var(--font);
	font-weight: bold;
	border-radius: 50%;
	font-size: 11px;
	display: flex;
	justify-content: center;
	align-items: center;
}
