<div class="obsidian-tab-contents obsidian-spell-table tab">
	{{#each (range 0 9)}}
		{{#if (has-spells ../actor ../spellbook this)}}
			<h3>
				{{spell-level-format this cantrip=true level=true}}
				<div class="obsidian-spells-slots-pact">
					{{#if (eq ../actor.data.spells.pact.level this)}}
						<div class="obsidian-spells-pact">
							{{format-slots ../actor.data.spells.pact 'pact'}}
							<span>{{localize 'OBSIDIAN.Pact'}}</span>
						</div>
					{{/if}}
					{{#with (lookup ../actor.data.spells (add 'spell' this))}}
					{{#if (gt max 0)}}
						<div class="obsidian-spells-slots">
							{{format-slots this ../this}}
							<span>{{localize 'OBSIDIAN.Slots'}}</span>
						</div>
					{{/if}}
					{{/with}}
				</div>
			</h3>
			<div class="obsidian-table">
				<div class="obsidian-thead">
					<div class="obsidian-col-icon"></div>
					<div class="obsidian-col-spell">{{localize 'OBSIDIAN.Name'}}</div>
					<div class="obsidian-col-time">{{localize 'OBSIDIAN.Time'}}</div>
					<div class="obsidian-col-range">{{localize 'OBSIDIAN.Range'}}</div>
					<div class="obsidian-col-dc">{{localize 'OBSIDIAN.HitDC'}}</div>
					<div class="obsidian-col-damage">{{localize 'OBSIDIAN.Damage'}}</div>
					<div class="obsidian-col-notes">{{localize 'OBSIDIAN.Notes'}}</div>
				</div>
				<div class="obsidian-tbody">
					{{#with (spellbook-lookup ../spellbook this)}}
					{{#each (sort spells 'name')}}
					{{#if flags.obsidian.visible}}
						<div class="obsidian-tr obsidian-spell-tr item" data-item-id="{{_id}}"
						     data-level="{{data.level}}" data-name="{{name}}" draggable="true"
						     data-concentration="{{data.components.concentration}}"
						     data-ritual="{{data.components.ritual}}">
							<div class="obsidian-col-icon">
								<i class="obsidian-spell-school obsidian-spell-school-{{data.school}}"></i>
							</div>
							<div class="obsidian-col-spell">
									<div class="obsidian-table-text rollable" data-roll="item" data-id="{{_id}}">
										{{name}}
										{{#if data.components.concentration}}
											<div class="obsidian-css-icon obsidian-css-icon-xs obsidian-css-icon-circle
											 obsidian-css-icon-regular" title="{{localize 'OBSIDIAN.Concentration'}}">
												<div class="obsidian-css-icon-shape"></div>
												<div class="obsidian-css-icon-label">
													{{localize 'OBSIDIAN.ConcentrationAbbr'}}
												</div>
											</div>
										{{/if}}
										{{#if data.components.ritual}}
											<div class="obsidian-css-icon obsidian-css-icon-xs obsidian-css-icon-circle
											 obsidian-css-icon-regular" title="{{localize 'OBSIDIAN.Ritual'}}">
												<div class="obsidian-css-icon-shape"></div>
												<div class="obsidian-css-icon-label">
													{{localize 'OBSIDIAN.RitualAbbr'}}
												</div>
											</div>
										{{/if}}
									</div>
								<div class="obsidian-table-sub-text">
									{{flags.obsidian.source.display}}
									{{#if flags.obsidian.components.display}}
										&bull; {{flags.obsidian.components.display}}
									{{/if}}
								</div>
							</div>
							<div class="obsidian-col-time">
								<div class="obsidian-table-text">
									{{~#unless (eq flags.obsidian.time.type 'special')~}}
										{{~flags.obsidian.time.n~}}
									{{~/unless~}}
									{{~i18n-join 'OBSIDIAN.CastTimeAbbr-' flags.obsidian.time.type~}}
								</div>
							</div>
							<div class="obsidian-col-range">
								{{#if (or (eq flags.obsidian.range.type 'short') (eq flags.obsidian.range.type 'long'))}}
									<div class="obsidian-table-number-md">
										{{flags.obsidian.range.n}}
										<span class="obsidian-table-unit">
											{{i18n-join 'OBSIDIAN.SpellRangeAbbr-' flags.obsidian.range.type}}
										</span>
									</div>
								{{else if (eq flags.obsidian.range.type 'unlimited')}}
									<div class="obsidian-table-number-md">&infin;</div>
								{{else}}
									<div class="obsidian-table-text">
										{{i18n-join 'OBSIDIAN.SpellRange-' flags.obsidian.range.type}}
									</div>
								{{/if}}
							</div>
							<div class="obsidian-col-dc">
								<div class="obsidian-table-number-lg">
									{{#if obsidian.bestAttack}}
										{{numberFormat obsidian.bestAttack.value decimals=0 sign=true}}
									{{else if obsidian.bestSave}}
										<div class="obsidian-table-sub-text obsidian-table-save">
											{{i18n-join 'OBSIDIAN.AbilityAbbr-' obsidian.bestSave.target}}
										</div>
										<div class="obsidian-table-number-md">{{obsidian.bestSave.value}}</div>
									{{else}}
										<span class="obsidian-na">&mdash;</span>
									{{/if}}
								</div>
							</div>
							<div class="obsidian-col-damage">
								<div class="obsidian-table-dmg">
									{{#each obsidian.damage}}
										<div class="obsidian-dmg-component">
											{{display}}
											<div class="obsidian-icon-sm obsidian-icon-{{damage}}"
											     title="{{i18n-join 'OBSIDIAN.Damage-' damage}}"></div>
										</div>
									{{/each}}
								</div>
							</div>
							<div class="obsidian-col-spell-notes">
								{{#each flags.obsidian.notes}}
									<div class="obsidian-table-note-text">{{{this}}}</div>
								{{/each}}
							</div>
						</div>
					{{/if}}
					{{/each}}
					{{/with}}
				</div>
			</div>
		{{/if}}
	{{/each}}
</div>
