<form class="obsidian obsidian-form-bare obsidian-spell-slot" autocomplete="off">
	{{#if ritual}}
	<div class="obsidian-spell-slot-row">
		<div></div>
		<div class="rollable" data-level="ritual">{{localize 'OBSIDIAN.Ritual'}}</div>
	</div>
	{{/if}}
	{{#each (range min 9)}}
	<div class="obsidian-spell-slot-row">
		{{#with (lookup ../actor.data.spells (add 'spell' this))}}
		<div
			{{#if (lt remaining 1)}} class="obsidian-negative"{{/if}}
			{{#if (gt remaining max)}} class="obsidian-positive"{{/if}}>
			({{remaining}} / {{max}})
		</div>
		{{/with}}
		<div class="rollable" data-level="{{this}}">
			{{spell-level-format this}} {{localize 'OBSIDIAN.Level'}}
		</div>
	</div>
	{{/each}}
	{{#if (and pactAllowed actor.data.spells.pact)}}
	<div class="obsidian-spell-slot-row">
	  {{#with actor.data.spells.pact}}
		<div
			{{#if (lt remaining 1)}} class="obsidian-negative"{{/if}}
			{{#if (gt remaining max)}} class="obsidian-positive"{{/if}}>
			({{remaining}} / {{slots}})
		</div>
	  {{/with}}
		<div class="rollable" data-level="pact">{{localize 'OBSIDIAN.Pact'}}</div>
	</div>
	{{/if}}
</form>
