<form class="obsidian" autocomplete="off">
	{{#each data.currency}}
		<div class="obsidian-form-row obsidian-inline">
			<div class="obsidian-fullwidth">
				<label class="obsidian-inline">
					<div class="obsidian-icon obsidian-icon-sm obsidian-icon-{{@key}}"></div>
					<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-lg"
					       name="data.currency.{{@key}}" data-dtype="Number" placeholder="0"
					       value="{{get-property ../data.currency @key}}">
				</label>
				<input type="text" class="obsidian-input-compact obsidian-add-remove" data-key="{{@key}}"
				       placeholder="{{localize 'OBSIDIAN.AddRemove'}}" style="width: 200px;">
			</div>
		</div>
	{{/each}}
</form>
