<form class="obsidian" autocomplete="off">
	<label class="obsidian-inline obsidian-label-lg">
		{{localize 'OBSIDIAN.Armour'}}
		<button type="button" class="obsidian-btn-positive obsidian-btn-sm obsidian-add-prof"
		        data-cat="armorProf">
			{{localize 'OBSIDIAN.Add'}}
		</button>
	</label>
	{{#each data.traits.armorProf.value}}
		<div class="obsidian-form-row obsidian-stacked-form-row obsidian-inline" data-cat="armorProf"
		     data-item-id="{{@index}}">
			<input class="obsidian-input-compact obsidian-input-lg" type="text" value="{{this}}">
			<button type="button" class="obsidian-btn-negative obsidian-btn-sm obsidian-rm-prof">
				{{localize 'OBSIDIAN.Remove'}}
			</button>
		</div>
	{{/each}}
	<label class="obsidian-inline obsidian-label-lg obsidian-stacked-row">
		{{localize 'OBSIDIAN.Weapons'}}
		<button type="button" class="obsidian-btn-positive obsidian-btn-sm obsidian-add-prof"
		        data-cat="weaponProf">
			{{localize 'OBSIDIAN.Add'}}
		</button>
	</label>
	{{#each data.traits.weaponProf.value}}
		<div class="obsidian-form-row obsidian-stacked-form-row obsidian-inline" data-cat="weaponProf"
		     data-item-id="{{@index}}">
			<input class="obsidian-input-compact obsidian-input-lg" type="text" value="{{this}}">
			<button type="button" class="obsidian-btn-negative obsidian-btn-sm obsidian-rm-prof">
				{{localize 'OBSIDIAN.Remove'}}
			</button>
		</div>
	{{/each}}
	<label class="obsidian-inline obsidian-label-lg obsidian-stacked-row">
		{{localize 'OBSIDIAN.Languages'}}
		<button type="button" class="obsidian-btn-positive obsidian-btn-sm obsidian-add-prof"
		        data-cat="languages">
			{{localize 'OBSIDIAN.Add'}}
		</button>
	</label>
	{{#each data.traits.languages.value}}
		<div class="obsidian-form-row obsidian-stacked-form-row obsidian-inline" data-cat="languages"
		     data-item-id="{{@index}}">
			<input class="obsidian-input-compact obsidian-input-lg" type="text" value="{{this}}">
			<button type="button" class="obsidian-btn-negative obsidian-btn-sm obsidian-rm-prof">
				{{localize 'OBSIDIAN.Remove'}}
			</button>
		</div>
	{{/each}}
</form>
