<form class="obsidian obsidian-form-bare" autocomplete="off">
	<label class="obsidian-label-lg">{{localize 'OBSIDIAN.SlotOverride'}}</label>
	<div class="obsidian-form-row obsidian-inline obsidian-align-labels">
		{{#each (range 1 5)}}
			<label class="obsidian-inline">
				<input type="text" name="flags.obsidian.spells.slots.{{this}}"
				       value="{{lookup ../actor.flags.obsidian.spells.slots this}}"
				       class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm">
				<span>
					{{#if (eq this 1)}}
						{{localize 'OBSIDIAN.FirstN'}}
					{{else if (eq this 2)}}
						{{localize 'OBSIDIAN.SecondN'}}
					{{else if (eq this 3)}}
						{{localize 'OBSIDIAN.ThirdN'}}
					{{else}}
						{{this}}{{localize 'OBSIDIAN.th'}}
					{{/if}}
				</span>
			</label>
		{{/each}}
	</div>
	<div class="obsidian-form-row obsidian-inline obsidian-align-labels">
		{{#each (range 6 9)}}
			<label class="obsidian-inline">
				<input type="text" name="flags.obsidian.spells.slots.{{this}}"
				       value="{{lookup ../actor.flags.obsidian.spells.slots this}}"
				       class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm">
				<span>{{this}}{{localize 'OBSIDIAN.th'}}</span>
			</label>
		{{/each}}
		<label class="obsidian-inline">
			<input type="text" name="flags.obsidian.spells.slots.pact"
			       value="{{actor.flags.obsidian.spells.slots.pact}}"
			       class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm">
			<span>{{localize 'OBSIDIAN.Pact'}}</span>
		</label>
	</div>
	<div class="obsidian-form-row">
		<label class="obsidian-inline">
			{{localize 'OBSIDIAN.PactSlotLevel'}}
			<select name="flags.obsidian.spells.slots.pactLevel">
				{{#select actor.flags.obsidian.spells.slots.pactLevel}}
					<option value="">&mdash;</option>
					{{#each (range 1 9)}}
						<option value="{{this}}">
							{{#if (eq this 1)}}
								{{localize 'OBSIDIAN.FirstN'}}
							{{else if (eq this 2)}}
								{{localize 'OBSIDIAN.SecondN'}}
							{{else if (eq this 3)}}
								{{localize 'OBSIDIAN.ThirdN'}}
							{{else}}
								{{this}}{{localize 'OBSIDIAN.th'}}
							{{/if}}
						</option>
					{{/each}}
				{{/select}}
			</select>
		</label>
	</div>
</form>
