<form class="obsidian" autocomplete="off">
	<label class="obsidian-inline obsidian-label-lg">
		{{localize 'OBSIDIAN.Tools'}}
		<button type="button" class="obsidian-btn-positive obsidian-btn-sm obsidian-add-skill">
			{{localize 'OBSIDIAN.Add'}}
		</button>
	</label>
	{{#each actor.flags.obsidian.skills.tools as |tool id|}}
		<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline" data-item-id="{{id}}">
			<div>
				<select name="flags.obsidian.skills.tools.{{id}}.value" data-dtype="Number">
					{{#select tool.value}}
						{{#each ../ObsidianRules.PROFICIENCY_LEVELS}}
							<option value="{{@key}}">
								{{i18n-join 'OBSIDIAN.Proficiency-' this}}
							</option>
						{{/each}}
					{{/select}}
				</select>
				<select name="flags.obsidian.skills.tools.{{id}}.ability"
				        style="text-transform: uppercase;">
					{{#select (lc tool.ability)}}
						{{#each ../data.abilities}}
							<option value="{{@key}}">{{i18n-join 'OBSIDIAN.AbilityAbbr-' @key}}</option>
						{{/each}}
					{{/select}}
				</select>
				<input class="obsidian-input-compact" type="text" placeholder="{{localize 'OBSIDIAN.Tool'}}"
				       value="{{tool.label}}" name="flags.obsidian.skills.tools.{{id}}.label">
				<span class="obsidian-binary-operator">&plus;</span>
				<input class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm" type="text"
				       placeholder="0" value="{{tool.bonus}}" data-dtype="Number"
				       name="flags.obsidian.skills.tools.{{id}}.bonus">
			</div>
			<button type="button" class="obsidian-btn-negative obsidian-btn-sm obsidian-rm-skill">
				{{localize 'OBSIDIAN.Remove'}}
			</button>
		</div>
	{{/each}}
</form>
