<fieldset data-uuid="{{uuid}}">
	<legend>{{localize 'OBSIDIAN.ProducesResource'}}</legend>
	<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
		<div class="obsidian-fullwidth">
			<label class="obsidian-inline">
				{{localize 'OBSIDIAN.Resource'}}
				<select name="{{prefix}}.target" data-selector="{{prefix}}.target">
					{{#select target}}
						{{#each @root.ObsidianRules.EFFECT_CONSUME_TARGETS}}
							<option value="{{this}}">{{i18n-join 'OBSIDIAN.ConsumeTarget-' this}}</option>
						{{/each}}
					{{/select}}
				</select>
			</label>
			<select name="{{prefix}}.itemID" data-selector-parent="{{prefix}}.target" data-show="item">
				{{#select itemID}}
					{{#each @root.itemsWithResources}}
						<option value="{{_id}}">{{name}}</option>
					{{/each}}
				{{/select}}
			</select>
			<select name="{{prefix}}.featID" data-selector-parent="{{prefix}}.target" data-show="feat">
				{{#select featID}}
					{{#each @root.featsWithResources}}
						<option value="{{_id}}">{{name}}</option>
					{{/each}}
				{{/select}}
			</select>
			<select name="{{prefix}}.ref" data-selector-parent="{{prefix}}.target" data-hide="spell, qty">
				{{#select ref}}
					{{#each itemResourceComponents}}
						{{#if (or (not (eq ../target 'this-effect')) (eq parentEffect ../parentEffect))}}
							<option value="{{uuid}}">{{label}}</option>
						{{/if}}
					{{/each}}
				{{/select}}
			</select>
		</div>
	</div>
	<div class="obsidian-form-row obsidian-stacked-row obsidian-mixed-form-row obsidian-inline">
		<div class="obsidian-fullwidth obsidian-checkbox-row">
			<label class="obsidian-inline" data-selector-parent="{{prefix}}.target" data-hide="spell">
				{{localize 'OBSIDIAN.Amount'}}
				<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
				       data-dtype="Number" placeholder="0" name="{{prefix}}.fixed" value="{{fixed}}">
			</label>
			<label class="obsidian-inline" data-selector-parent="{{prefix}}.target" data-show="spell"
			       style="margin-left: 0;">
				{{localize 'OBSIDIAN.Level'}}
				<select name="{{prefix}}.slot">
					{{#select slot}}
						{{#each (range 1 9)}}
							<option value="{{this}}">{{spell-level-format this}}</option>
						{{/each}}
						<option value="pact">{{localize 'OBSIDIAN.Pact'}}</option>
					{{/select}}
				</select>
			</label>
			{{fancy-checkbox (add prefix '.unlimited') content='OBSIDIAN.CanExceedMax' checked=unlimited}}
		</div>
	</div>
</fieldset>
