<fieldset data-uuid="{{uuid}}">
	<legend>{{localize 'OBSIDIAN.Resource'}}</legend>
	<div class="obsidian-form-row obsidian-inline">
		<input type="text" class="obsidian-input-compact obsidian-input-lg" name="{{prefix}}.name"
		       value="{{name}}" placeholder="{{localize 'OBSIDIAN.ResourceName'}}"
		       style="max-width: none;">
	</div>
	<div class="obsidian-form-row obsidian-stacked-row obsidian-mixed-form-row obsidian-inline">
		<div class="obsidian-fullwidth">
			<label class="obsidian-inline">
				{{localize 'OBSIDIAN.Recharges'}}
				<select name="{{prefix}}.recharge.time" data-selector="{{prefix}}.recharge.time">
					{{#select recharge.time}}
						{{#each @root.ObsidianRules.ITEM_RECHARGE}}
							<option value="{{this}}">{{i18n-join 'OBSIDIAN.Recharge-' this}}</option>
						{{/each}}
					{{/select}}
				</select>
			</label>
			<select name="{{prefix}}.recharge.calc" data-selector-parent="{{prefix}}.recharge.time"
			        data-hide="never" data-selector="{{prefix}}.recharge.calc">
				{{#select recharge.calc}}
					{{#each @root.ObsidianRules.EFFECT_RESOURCE_RECHARGE_CALC}}
						<option value="{{this}}">{{i18n-join 'OBSIDIAN.RechargeCalc-' this}}</option>
					{{/each}}
				{{/select}}
			</select>
			<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
			       data-dtype="Number" placeholder="0" name="{{prefix}}.recharge.ndice" data-hide="all"
			       data-selector-parent="{{prefix}}.recharge.calc" value="{{recharge.ndice}}">
			<select name="{{prefix}}.recharge.die" data-selector-parent="{{prefix}}.recharge.calc"
			        data-hide="all" data-dtype="Number">
				{{#select recharge.die}}
					{{#each @root.ObsidianRules.ITEM_CHARGE_DICE}}
						<option value="{{this}}">d{{this}}</option>
					{{/each}}
				{{/select}}
			</select>
			<span class="obsidian-binary-operator" data-selector-parent="{{prefix}}.recharge.calc"
			      data-hide="all">&plus;</span>
			<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
			       data-dtype="Number" placeholder="0" name="{{prefix}}.recharge.bonus" data-hide="all"
			       data-selector-parent="{{prefix}}.recharge.calc" value="{{recharge.bonus}}">
		</div>
	</div>
	<div class="obsidian-form-row obsidian-stacked-row obsidian-mixed-form-row obsidian-inline">
		<div class="obsidian-fullwidth">
			<label class="obsidian-inline">
				{{localize 'OBSIDIAN.Calculation'}}
				<select name="{{prefix}}.calc" data-selector="{{prefix}}.calc">
					{{#select calc}}
						{{#each @root.ObsidianRules.RESOURCE_USES}}
							<option value="{{this}}">{{i18n-join 'OBSIDIAN.ResourceUses-' this}}</option>
						{{/each}}
					{{/select}}
				</select>
			</label>
			<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
			       data-selector-parent="{{prefix}}.calc" data-show="fixed" name="{{prefix}}.fixed"
			       value="{{fixed}}" data-dtype="Number" placeholder="0">
			<label class="obsidian-inline" data-selector-parent="{{prefix}}.calc" data-show="formula">
				<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
				       name="{{prefix}}.min" value="{{min}}" data-dtype="Number" placeholder="0">
				<span>{{localize 'OBSIDIAN.Minimum'}}</span>
			</label>
		</div>
	</div>
	<div class="obsidian-form-row obsidian-stacked-row obsidian-mixed-form-row obsidian-inline"
	     data-show="formula" data-selector-parent="{{prefix}}.calc">
		<div class="obsidian-fullwidth">
			<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-sm"
			       name="{{prefix}}.bonus" value="{{bonus}}" data-dtype="Number" placeholder="0">
			<select class="obsidian-select-operator" name="{{prefix}}.operator">
				{{#select operator}}
					<option value="plus">&plus;</option>
					<option value="mult">&times;</option>
				{{/select}}
			</select>
			<select name="{{prefix}}.key" data-selector="{{prefix}}.key">
				{{#select key}}
					{{#each @root.ObsidianRules.FEAT_USES_KEYS}}
						<option value="{{this}}">{{i18n-join 'OBSIDIAN.UsesKey-' this}}</option>
					{{/each}}
				{{/select}}
			</select>
			<select name="{{prefix}}.ability" data-selector-parent="{{prefix}}.key" data-show="abl">
				{{#select ability}}
					{{#each @root.ObsidianRules.ABILITIES}}
						<option value="{{this}}">{{i18n-join 'OBSIDIAN.Ability-' this}}</option>
					{{/each}}
				{{/select}}
			</select>
			{{#if @root.actor}}
			<select name="{{prefix}}.class" data-selector-parent="{{prefix}}.key" data-show="cls">
				{{#select class}}
					{{#each @root.actor.data.obsidian.classes}}
						<option value="{{_id}}">{{flags.obsidian.label}}</option>
					{{/each}}
				{{/select}}
			</select>
			{{else}}
			<input type="text" class="obsidian-input-compact" name="{{prefix}}.text" value="{{text}}"
			       placeholder="{{localize 'OBSIDIAN.Class'}}" data-selector-parent="{{prefix}}.key"
			       data-show="cls">
			{{/if}}
		</div>
	</div>
</fieldset>
