<fieldset>
	<legend>{{localize 'OBSIDIAN.Container'}}</legend>
	<div class="obsidian-form-row-img">
		<div>
			<img class="profile" src="{{item.img}}" alt="{{item.name}}" data-edit="img">
		</div>
		<div>
			<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
				<div class="obsidian-fullwidth">
					<input type="text" class="obsidian-input-compact obsidian-input-lg" name="name"
					       placeholder="{{localize 'OBSIDIAN.Name'}}" value="{{item.name}}">
					<label class="obsidian-inline">
						<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-md"
						       name="data.weight" data-dtype="Number" placeholder="0"
						       value="{{item.data.weight}}">
						<span>{{localize 'OBSIDIAN.Weight'}}</span>
					</label>
					<label class="obsidian-inline obsidian-label-icon">
						<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-lg"
						       name="data.price" data-dtype="Number" placeholder="0"
						       value="{{item.data.price}}">
						<span>{{localize 'OBSIDIAN.Cost'}}</span>
						<i class="obsidian-icon obsidian-icon-sm obsidian-icon-gp"></i>
					</label>
				</div>
			</div>
			<div class="obsidian-form-row obsidian-stacked-row obsidian-mixed-form-row obsidian-inline">
				<div class="obsidian-fullwidth obsidian-checkbox-row">
					<label class="obsidian-inline">
						<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-md"
						       name="data.capacity.value" data-dtype="Number" placeholder="0"
						       value="{{item.data.capacity.value}}">
						<span>{{localize 'OBSIDIAN.Capacity'}}</span>
					</label>
					{{fancy-checkbox 'data.capacity.weightless' content='OBSIDIAN.WeightlessContents'
					                 checked=item.data.capacity.weightless}}
				</div>
			</div>
		</div>
	</div>
</fieldset>
<fieldset>
	<legend>{{localize 'OBSIDIAN.Currency'}}</legend>
	{{#each ObsidianRules.CURRENCY}}
		<div class="obsidian-form-row obsidian-inline">
			<div class="obsidian-fullwidth">
				<label class="obsidian-inline">
					<div class="obsidian-icon obsidian-icon-sm obsidian-icon-{{this}}"></div>
					<input type="text" name="flags.obsidian.currency.{{this}}" data-dtype="Number"
					       class="obsidian-input-compact obsidian-input-num obsidian-input-num-lg"
					       placeholder="0" value="{{lookup ../item.flags.obsidian.currency this}}">
				</label>
				<input type="text" class="obsidian-input-compact obsidian-add-remove" data-key="{{this}}"
				       placeholder="{{localize 'OBSIDIAN.AddRemove'}}" style="width: 200px;">
			</div>
		</div>
	{{/each}}
</fieldset>
