<div class="obsidian-vertical-bisect">
	<div class="obsidian-msg-dmg-title">{{localize title}}</div>
	{{#each results}}
		<div class="{{#if (is-gm)}}obsidian-msg-row-dmg{{else}}obsidian-msg-row{{/if}}">
		{{#if (is-gm)}}<div>{{/if}}
			<div class="obsidian-msg-roll-box">{{total}}</div>
			<div class="obsidian-msg-tooltip">{{{breakdown}}}</div>
			{{#if type}}
				<div class="obsidian-icon-sm obsidian-icon-{{type}}"
				     title="{{i18n-join 'OBSIDIAN.Damage-' type}}"></div>
			{{/if}}
		{{#if (is-gm)}}</div>{{/if}}
		{{#if (is-gm)}}
		<div title="{{localize 'OBSIDIAN.Apply'}}" data-dmg="{{total}}" data-type="{{type}}">
			<i class="fas fa-check"></i>
		</div>
		{{/if}}
	</div>
	{{/each}}
	<div class="{{#if (is-gm)}}obsidian-msg-row-dmg{{else}}obsidian-msg-row{{/if}}">
		<div class="obsidian-msg-roll-box obsidian-msg-wide-box" title="{{localize 'OBSIDIAN.Total'}}">
			{{total}}
		</div>
		{{#if (is-gm)}}
		<div title="{{localize 'OBSIDIAN.Apply'}}" data-apply-all="true">
			<i class="fas fa-check"></i>
		</div>
		{{/if}}
	</div>
</div>
