<fieldset>
	<legend>{{i18n-join 'OBSIDIAN.ItemType-' item.type}}</legend>
	<div class="obsidian-form-row-img">
		<div>
			<img class="profile" src="{{item.img}}" alt="{{item.name}}" data-edit="img">
		</div>
		<div>
			<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
				<div class="obsidian-fullwidth obsidian-checkbox-row">
					<input class="obsidian-input-compact obsidian-input-lg" type="text" name="name"
					       placeholder="{{localize 'OBSIDIAN.Name'}}" value="{{item.name}}">
					<select name="flags.obsidian.category">
						{{#select item.flags.obsidian.category}}
							{{#each ObsidianRules.WEAPON_CATEGORIES}}
								<option value="{{this}}">{{i18n-join 'OBSIDIAN.WeaponCat-' this}}</option>
							{{/each}}
						{{/select}}
					</select>
					<select name="flags.obsidian.type">
						{{#select item.flags.obsidian.type}}
							{{#each ObsidianRules.ATTACK_TYPES}}
								<option value="{{this}}">{{i18n-join 'OBSIDIAN.AttackType-' this}}</option>
							{{/each}}
						{{/select}}
					</select>
					{{fancy-checkbox 'flags.obsidian.magical' content='OBSIDIAN.Magical'
					                 checked=item.flags.obsidian.magical}}
				</div>
			</div>
			<div class="obsidian-form-row obsidian-stacked-row obsidian-inline">
				<div class="obsidian-fullwidth obsidian-checkbox-row">
					<label class="obsidian-inline">
						<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-md"
						       name="data.weight" data-dtype="Number" placeholder="0"
						       value="{{item.data.weight}}">
						<span>{{localize 'OBSIDIAN.Weight'}}</span>
					</label>
					<label class="obsidian-inline obsidian-label-icon">
						<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-lg"
						       name="data.price" data-dtype="Number" placeholder="0"
						       value="{{item.data.price}}">
						<span>{{localize 'OBSIDIAN.Cost'}}</span>
						<i class="obsidian-icon obsidian-icon-sm obsidian-icon-gp"></i>
					</label>
					{{fancy-checkbox 'flags.obsidian.attunement' content='OBSIDIAN.RequiresAttunement'
					                 checked=item.flags.obsidian.attunement}}
				</div>
			</div>
		</div>
	</div>
	<div class="
		{{~#unless (or item.flags.obsidian.tags.thrown (eq item.flags.obsidian.type 'ranged'))~}}
			obsidian-hidden
		{{~/unless}} obsidian-form-row obsidian-range-row obsidian-stacked-row obsidian-inline">
		<div class="obsidian-fullwidth obsidian-checkbox-row">
			<label class="obsidian-inline">
				{{localize 'OBSIDIAN.Range'}}
				<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-md"
				       data-dtype="Number" placeholder="0" name="data.range.value"
				       value="{{item.data.range.value}}">
			</label>
			<span class="obsidian-binary-operator">&sol;</span>
			<input type="text" class="obsidian-input-compact obsidian-input-num obsidian-input-num-md"
			       data-dtype="Number" placeholder="0" name="data.range.long"
			       value="{{item.data.range.long}}">
			{{#if item.flags.obsidian.tags.thrown}}
				{{fancy-checkbox 'flags.obsidian.consumeThrown' content='OBSIDIAN.ConsumeWhenThrown'
				                 checked=item.flags.obsidian.consumeThrown}}
			{{/if}}
		</div>
	</div>
</fieldset>
<fieldset>
	<legend>{{localize 'OBSIDIAN.Tags'}}</legend>
	<div class="obsidian-checkbox-grid">
		{{#each ObsidianRules.WEAPON_TAGS}}
			{{fancy-checkbox (add 'flags.obsidian.tags.' this) content=(add 'OBSIDIAN.AtkTag-' this)
			                 checked=(lookup ../item.flags.obsidian.tags this)}}
		{{/each}}
	</div>
	<div class="obsidian-form-row obsidian-mixed-form-row obsidian-inline">
		<label class="obsidian-inline obsidian-max">
			{{localize 'OBSIDIAN.Custom'}}
			<input type="text" class="obsidian-input-compact obsidian-input-lg"
			       name="flags.obsidian.tags.custom" value="{{item.flags.obsidian.tags.custom}}">
		</label>
	</div>
</fieldset>
