{{#if visible}}
<li class="message flexcol obsidian-msg" data-message-id="{{message._id}}">
	<header>
		<h4>
			{{#if message.flags.obsidian.npc}}<div class="obsidian-icon obsidian-icon-npc"></div>{{/if}}
			{{alias}}
		</h4>
		<span class="message-metadata">
			<time class="message-timestamp">{{timeSince message.timestamp}}</time>
			{{#if user.isGM}}
				<a class="button message-delete"><i class="fas fa-trash"></i></a>
			{{/if}}
		</span>

		{{#if isWhisper}}
			<span class="whisper-to">{{localize 'CHAT.To'}}: {{whisperTo}}</span>
		{{/if}}
	</header>
	<section class="obsidian-msg-title">
		<div>
			{{message.flags.obsidian.title}}
			{{#if message.flags.obsidian.parens}}
				<span class="obsidian-msg-title-parens">({{message.flags.obsidian.parens}})</span>
			{{/if}}
		</div>
		{{#if message.flags.obsidian.subtitle}}
			<div class="obsidian-msg-sub-title">{{message.flags.obsidian.subtitle}}</div>
		{{/if}}
	</section>
	{{#if (or message.flags.obsidian.results message.flags.obsidian.exprs)}}
	<section>
		{{#each message.flags.obsidian.results}}
		<div class="obsidian-msg-row">
			<div class="obsidian-msg-key">{{localize 'OBSIDIAN.Roll'}}:</div>
			<div class="obsidian-msg-value">
				{{#each this}}
					<div class="
					     {{#if positive}}obsidian-positive{{/if}}
					     {{#if negative}}obsidian-negative{{/if}}
					     {{#if grey}}obsidian-grey{{/if}}
					     obsidian-msg-roll-box">
						{{total}}
					</div>
					<div class="obsidian-msg-tooltip">{{{breakdown}}}</div>
				{{/each}}
			</div>
		</div>
		{{/each}}
		{{#each message.flags.obsidian.exprs}}
		<div class="obsidian-msg-row">
			<div class="obsidian-msg-key">{{localize 'OBSIDIAN.Roll'}}:</div>
			<div class="obsidian-msg-value">
				<div class="obsidian-msg-roll-box">{{total}}</div>
				<div class="obsidian-msg-tooltip">{{{breakdown}}}</div>
			</div>
			<div class="obsidian-msg-flavour">{{flavour}}</div>
		</div>
		{{/each}}
	</section>
	{{/if}}
	{{#if message.flags.obsidian.saves}}
	<section class="obsidian-msg-save">
		{{#each message.flags.obsidian.saves}}
		<div>
			<div class="obsidian-msg-save-dc">
				{{localize 'OBSIDIAN.DC'}}
				<div class="obsidian-msg-roll-box">{{dc}}</div>
				<div class="obsidian-msg-tooltip">{{{breakdown}}}</div>
				{{target}} {{localize 'OBSIDIAN.Save'}}
			</div>
			<div class="obsidian-msg-save-effect">{{effect}}</div>
		</div>
		{{/each}}
	</section>
	{{/if}}
	{{#if (and (or (defined message.flags.obsidian.dmgBtn) (defined message.flags.obsidian.aoe))
			      (or user.isGM (eq user.id author.id)))}}
	<section class="obsidian-msg-btn-row">
		{{#if (defined message.flags.obsidian.dmgBtn)}}
		<button type="button" class="obsidian-btn-outline" data-roll="dmg"
		        {{#if message.flags.obsidian.realToken}}
			        data-scene="{{message.flags.obsidian.realScene}}"
			        data-token="{{message.flags.obsidian.realToken}}"
		        {{else}}
		          data-actor="{{message.speaker.actor}}"
		        {{/if}}
		        data-effect="{{message.flags.obsidian.dmgBtn}}"
		        data-count="{{message.flags.obsidian.dmgCount}}"
		        data-scaling="{{message.flags.obsidian.dmgScaling}}">
			<i class="fas fa-dice-d20"></i>
			{{localize 'OBSIDIAN.Damage'}}
		</button>
		{{/if}}
		{{#if (defined message.flags.obsidian.aoe)}}
		<button type="button" class="obsidian-btn-outline obsidian-place-template"
		        {{#if message.flags.obsidian.realToken}}
			        data-scene="{{message.flags.obsidian.realScene}}"
			        data-token="{{message.flags.obsidian.realToken}}"
		        {{else}}
		          data-actor="{{message.speaker.actor}}"
		        {{/if}}
		        data-effect="{{message.flags.obsidian.aoe}}">
			<i class="fas fa-bullseye"></i>
			{{localize 'OBSIDIAN.AreaOfEffect'}}
		</button>
		{{/if}}
	</section>
	{{/if}}
	{{#if message.flags.obsidian.damage}}
	<section class="obsidian-msg-dmg">
		<div class="obsidian-grid-2-col">
			{{> modules/obsidian/html/components/damage-format.html message.flags.obsidian.damage
					title='OBSIDIAN.Hit'}}
			{{> modules/obsidian/html/components/damage-format.html message.flags.obsidian.crit
					title='OBSIDIAN.Crit'}}
		</div>
	</section>
	{{/if}}
	{{#if message.flags.obsidian.addendum}}
	<section class="obsidian-msg-addendum">
		<div class="obsidian-{{#if message.flags.obsidian.addendum.success}}positive{{else}}negative{{/if}}">
			{{message.flags.obsidian.addendum.label}}
		</div>
	</section>
	{{/if}}
	{{#if message.flags.obsidian.details}}
	<details {{#if message.flags.obsidian.open}}open{{/if}}>
		<summary>{{localize 'OBSIDIAN.Details'}}</summary>
		{{#if (eq message.flags.obsidian.type 'spl')}}
			{{> modules/obsidian/html/components/spell-card.html message.flags.obsidian.details
					view=false upcast=message.flags.obsidian.upcast}}
		{{else if message.flags.obsidian.details.flags.obsidian.display}}
			{{{message.flags.obsidian.details.flags.obsidian.display}}}
		{{else}}
			{{{message.flags.obsidian.details.data.description.value}}}
		{{/if}}
	</details>
	{{/if}}
</li>
{{/if}}
